<h1>Editar Área de Aplicación</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul style="color: red;">
    {% for category, message in messages %}
      <li><b>{{ message }}</b></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('aplicacion.editar_aplicacion', id=area_aplicacion.id) }}" method="POST">
    <div>
        <label for="id">ID:</label><br>
        <input type="text" id="id" value="{{ area_aplicacion.id }}" disabled>
    </div>
    <br>
    <div>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" value="{{ area_aplicacion.nombre }}" required>
    </div>
    <br>
    <button type="submit">Actualizar</button>
    <a href="{{ url_for('aplicacion.listar_aplicaciones') }}">Cancelar</a>
</form>
