<h1>Editar Línea de Investigación</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul style="color: red;">
    {% for category, message in messages %}
      <li><b>{{ message }}</b></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('linea.editar_linea', id=linea.id) }}" method="POST">
    <div>
        <label for="id">ID:</label><br>
        <input type="text" id="id" value="{{ linea.id }}" disabled>
        <!-- Hacemos disabled el ID para que el usuario no pueda cambiar su llave primaria -->
    </div>
    <br>
    <div>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" value="{{ linea.nombre }}" required>
    </div>
    <br>
    <div>
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" required>{{ linea.descripcion }}</textarea>
    </div>
    <br>
    <button type="submit">Actualizar</button>
    <a href="{{ url_for('linea.listar_lineas') }}">Cancelar</a>
</form>
