<h1>Lista de Líneas de Investigación</h1>

<a href="{{ url_for('linea.crear_linea') }}"> Crear Nueva Línea</a>
<br><br>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul style="color: blue;">
    {% for category, message in messages %}
      <li><b>{{ message }}</b></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
    </tr>

    {% for item in datos %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.descripcion }}</td>
    </tr>
    {% endfor %}
</table>
